<div class="container">
    <div class="row">
        <div style="height: 100px;" class="col-md">

        </div>
    </div>
    <h1>Taaklijst</h1>
    <div class="row">
        <div class="col-md justify-content-center">
            

            <table class="table ">
                <thead class="thead thead-light">
                    <th>Nummer</th>
                    <th>Taak</th>
                    <th>Beschrijving</th>
                    <th>Deadline</th>
                    <th style="text-align: right;"><button class="btn btn-success" [swal]="addTask">+</button></th>
                </thead>
<!-- Add New Task -->
<swal 
  #addTask hidden
  title="Add new task"
  text="This cannot be undone"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="addTask()">
</swal>
                <tbody *ngFor="let task of tasks$ | async">
                
                    <td>{{task.id}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.deadline}}</td>
                    <td style="text-align: right;"><button (click)="removeTask(task.id)" class="btn btn-success">Gedaan</button></td>
                </tbody>
            </table>
        </div>
    </div>
</div>