<div class="container">
    <div class="row">
        <div style="height: 100px;" class="col-md">

        </div>
    </div>
    <h1>Taaklijst</h1>
    <div class="row">
        <div class="col-md justify-content-center">
            <table class="table">
                <thead class="thead">
                    <th>Taak <input ng-keydown="log(naam.value)" id="naam" #naam></th>
                    <th>Beschrijving <input type="text" #desc></th>
                    <th>Deadline <input #deadline type="date"></th>
                    <th style="text-align: right;"><button class="btn btn-success" (click)="newTask(naam.value, desc.value, deadline.value)">+</button></th>
                </thead>
                <tbody *ngFor="let task of tasks$ | async">
                
                    <td><h5>{{task.name}}</h5></td>
                    <td><h5>{{task.description}}</h5></td>
                    <td><h5>{{task.deadline}}</h5></td>
                    <td style="text-align: right;"><button (click)="removeTask(task.id)" class="btn btn-success">Gedaan</button></td>
                </tbody>
            </table>
        </div>
    </div>
</div>