<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Boodschappenlijst</h1>
            <button class="buttonPDF btn btn-primary" (click)="downloadPDF();">Boodschappenlijst uitprinten</button>
            <div id="tab">
                <table class="table table-info table-sm table-borderless" *ngFor="let item of shoplist$ | async">
                    <tr>
                        <td>{{ item.name }}
                            <span (click)="deleteItem(item.id)" id="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    <span id="deleteItem"></span>
                                </label>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- item toevoegen via input -->
            <table class="table table-info table-sm table-borderless">
                <tr>
                    <td>
                        <input id="addInput" #newItem (keydown.enter)="addItem(newItem.value);"
                            placeholder="Voeg nieuw item toe">
                    </td>
                </tr>
            </table>
            <button class="buttonAdd btn btn-primary" (click)="addItem(newItem.value);">Voeg item toe</button>
        </div>
    </div>
</div>